@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid black;
} */

.fixed-screen {
  width: 768px;
  height: 1024px;
  margin: 0 auto;
  overflow: hidden;
}

.circle {
  width: 150px;
  height: 150px;
  border: 10px solid #d3d3d3;
  border-radius: 50%;
  border-top-color: #f3a828; /* Цвет прогресс-бара */
  animation: spin 1s linear infinite;
}

.circle.complete {
  border-color: #d3d3d3;
  border-top-color: transparent;
  animation: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
